.smartForm>h1 {
    font-size: 2vmax;
    font-family: 'Roboto';
    font-weight: 500;
    text-align: center;
    color: white;
    transform: translateX(400vw);
    animation: heading 1s ease-in-out forwards;
}

.smartForm {

    /* background-image: url('../../Img/smart.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain; */
    /* filter: blur(1px); */
    width: 100%;
    height: 100vh;
    position: relative;
    object-fit: contain;

}
.smartForm>img{
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height: inherit;
    filter: blur(5px);

}

.smartForm>form>input,
input[type='date'] {
    border: 1px solid white;
    color: white;
    background-color: rgba(247, 239, 239, 0.301);
}

.smartForm>form>input::placeholder {
    color: rgba(0, 0, 0, 0.521);
    font-weight: 500;
    opacity: 1;
}

.smartForm>form>select {
    border: 1px solid white;
    color: rgb(28 66 85);
    
    background-color: rgba(247, 239, 239, 0.301);
}

.smartForm>form>select>option {
    color: white;
    background-color: rgba(28, 66, 85, 0.877);
}

.smartForm>form>input[type="file"] {
    color: rgb(28 66 85);
}

.smartForm>form>button {
    color: rgb(28 66 85);
    border: 2px solid rgb(28 66 85);
}

.smartForm>form>button:hover {
    background-color: rgb(28 66 85);
    color: white;
}


.smartForm>button {
    padding: 1vmax;
    margin: .5vmax 0;
    /* width: 7vmax; */
    font-family: 'Roboto';
    font-size: 1.5vmax;

    background-color: rgb(28 66 85);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    transition: all 0.5s;
    transform: translateY(-500vh);
    animation: buttonAnima 1.5s ease-in-out forwards;
    cursor: pointer;
}

.smartForm>button:hover {
    color: white;
    background-color: rgb(184, 37, 37);
    border: 1px solid rgb(184, 37, 37);

}

.smartForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gender>label {}

.containeGen {
    width: 6vmax;
    display: flex;
    align-items: center;
    padding: .5vmax;
    font-size: 1.2vmax;
    font-family: "Roboto";
    background-color: rgba(247, 239, 239, 0.301);
    outline: none;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
}

#userProfile {
    position: absolute;
    right: 10%;
    top: 3%;
}

@keyframes heading {
    to {
        transform: translateX(0);
    }
}

@keyframes buttonAnima {
    to {
        transform: translateY(0);
    }
}

@media screen and (max-width:600px) {
    .smartForm>button {
        padding: 2vmax;
        font-size: 2.8vmax;
    
    }
}
@media screen and (min-width:601px) and (max-width:1000px)  {
    .smartForm>button {
        padding: 1.8vmax;
        font-size: 2vmax;
    
    }
}