.Loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Loader>div{
    border-top: 10px solid  rgb(54 88 199);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    animation: loading .5s infinite linear ;
}
@keyframes loading{
 
    to{
        transform: rotate(360deg);
    }
}